.work2much{ text-align: center          }
h3{ text-align: center          }

.demo-content{
color: blue}

.specialist{

 text-align: left; 
font-size: 20px
}

.hedoes{
text-align: left;
}
h4{
text-align: left}
.eats{
text-align: left;}


dl{
display: block; 
position: relative; 
left:250px
}

dt{
font-weight: bold}